@model List<ToDoItem>

<h2>To-Do List</h2>

<!-- Search and Clear Form -->
<form asp-action="Index" method="get" class="mb-3">
    <div class="form-group d-flex">
        <!-- Search Input -->
        <input type="text"
               id="searchItem"
               name="searchItem"
               class="form-control mr-2"
               placeholder="Enter keyword..."
               value="@ViewBag.SearchItem" />

        <!-- status dropdown-->
        <select id="statusFilter" name="statusFilter" class="form-control mr-2">
            <option value="Notcompleted" selected='@(ViewBag.StatusFilter == "Notcompleted" ? "selected" : "")'>Not Completed</option>
            <option value="Completed" selected='@(ViewBag.StatusFilter == "Completed" ? "selected" : "")'>Completed</option>
            <option value="" selected='@(ViewBag.StatusFilter == null || ViewBag.StatusFilter == "" ? "selected" : "")'>-- Select Status --</option> 
        </select>

        <!-- Search Button -->
        <button type="submit" class="btn btn-primary">Search</button>

        <!-- Clear Button -->
        <a asp-action="Index" class="btn btn-secondary ml-2">Clear Search</a>
    </div>
</form>

@if (Model == null || !Model.Any())
{
    <p>No tasks available. <a asp-action="Create">Add one now!</a></p>
}
else{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="~/sorting" >Title</a>
                </th>
                <th>Description</th>
                <th>Completed</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@(item.IsCompleted ? "Yes": "No")</td>
                    <td>@(item.CreatedDate)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        <a asp-action="Create" class="btn btn-success">Add New Task</a>
}

